/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur&family=Oswald:wght@600&family=Work+Sans:wght@300&display=swap');

/* Browser default styles override */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    background-color: rgba(240, 253, 242, 0.7);
    font-family: 'Work Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styless */
    color: #3a3a3a;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #252525;
}

h2,
h3 {
    font-family: 'Hind+Guntur', sans-serif;
}

p,
li,
section {
    font-family: 'Work Sans', sans-serif;
}

/* Header */
header {
    background-color: rgba(240, 253, 242, 0.8);
    padding: 0 1rem 0 0;
    position: fixed;
    z-index: 99;
    width: 100%;
    /*box-shadow: 0 2px 2px #3a3a3a;*/
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a,
footer a {
    text-decoration: none;
    color: inherit;
}

#logo {
    width: 320px;
    min-width: 320px;
    height: 120px;
}

#logo_txt {
    color: #1FB25A;
    font-size: 160%;
    line-height: 30px;
    margin: 0.6rem;
}

/*#logo_txt {
    font-size: 190%;
    line-height: 43px;
    margin: 0.6rem;
}*/

#logo_img {
    float: left;
    height: 90px;
    margin: 0.5rem;
}

#menu>li {
    font-family: 'Hind+Guntur', sans-serif;
    font-size: 110%;
    letter-spacing: 1px;
    list-style-type: none;
    margin-bottom: 1em;
    padding: 0 16px;
}

.active {
    border-bottom: 2px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: rgba(240, 253, 242, 0.8);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
    text-align: right;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    color: #1FB25A;
    font-size: 1.5rem;
}

/* Main */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    /*padding-top: 130px;*/
}

/* Lake & slogan section */
#lake {
    height: 100vh;
    background: url("../images/lake.jpg") no-repeat center center/cover;
    background-size: cover;
}

#slogan {
    background-color: rgba(113, 154, 121, 0.6);
    font-size: 140%;
    line-height: 1.5em;
    position: absolute;
    right: 0px;
    bottom: 40px;
    padding: 15px;
    width: 80%;
    color: #ffffff;
    max-width: 750px;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer ul {
    text-align: center;
    padding: 0px 0;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-wrap: wrap;
}

footer li {
    font-size: 120%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}

#follow li {
    padding: 0;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    header {
        align-items: center;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        background: none;
        /*padding: 50px 1rem;*/
    }

    #logo {
        width: 160px;
        min-width: 160px;
    }

    #logo_img {
        width: 0px;
        height: 90px;
    }

    /*#logo_txt {
        font-size: 190%;
        line-height: 43px;
        margin: 0.6rem;
        display: block;
    }*/

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
}

/* Media query: large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 2px solid #3a3a3a;
    }

    #logo {
        width: 280px;
        min-width: 280px;
    }

    #logo_img {
        height: 90px;
        width: auto;
        display: initial;
    }

    /*#logo_txt {
        font-size: 190%;
        line-height: 43px;
        margin: 0.6rem;
        display: block;
    }*/
}